{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Invitation List</h1>
        {% if invitations.size < 1 %}
          <h3> You do not have any invitation yet :( </h3>
        {% endif %}
        <table class="table table-striped table-hover">
          {% for inv in invitations %}
              <td>
                <td>
                    <h5>{{ inv.get_club_name}} invites you to join!</h5>
                    <td>
                        <p>
                            <form action = "{% url 'accept_invitation' inv.id %}" method = "post">
                                {% csrf_token %}
                                <input type = "hidden" name = "next" value = "{{ next }}">
                                {% include 'partials/bootstrap_form.html' with form=form %}
                                <input type = "submit" value = "accept" class="btn btn-primary">
                            </form>
                            <form action = "{% url 'reject_invitation' inv.id %}" method = "post">
                                {% csrf_token %}
                                <input type = "hidden" name = "next" value = "{{ next }}">
                                {% include 'partials/bootstrap_form.html' with form=form %}
                                <input type = "submit" value = "reject" class="btn btn-primary">
                            </form>
                        </p>
                    </td>
                </td>
              </tr>
          {% endfor %}
        </table>

    </div>
  </div>
</div>
{% endblock %}