{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Invitation List</h1>
        {% if invitations.size == none %}
          <h3> You do not have any invitation yet :( </h3>
        {% endif %}
          {% for inv in invitations %}
              <tr>
                <td>{{ inv.get_club_name}} invites you to join!</td>
                <td>
                  <form action = "{% url 'accept_invitation' inv.id %}" method = "post">
                    {% csrf_token %}
                    <input type = "hidden" name = "next" value = "{{ next }}">
                    {% include 'partials/bootstrap_form.html' with form=form %}
                    <input type = "submit" value = "accept" class="btn btn-primary">
                  </form>
                </td>
                <td>
                    <form action = "{% url 'reject_invitation' inv.id %}" method = "post">
                    {% csrf_token %}
                    <input type = "hidden" name = "next" value = "{{ next }}">
                    {% include 'partials/bootstrap_form.html' with form=form %}
                    <input type = "submit" value = "reject" class="btn btn-primary">
                  </form>
                </td>
              </tr>
          {% endfor %}

    </div>
  </div>
</div>
{% endblock %}