{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Owned Club List</h1>
      <form action="{% url 'owner_club_list' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        {% if roles.count == 0 %}
          <h3> You do not own any clubs yet :( </h3>
          <p> Create your club and come back! </p>
        
        {% else %}
        
        <p>You're the proud owner of <b>{{ roles.count }}</b> club(s)! Hats off!</p>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
              </tr>
            </thead>
            {% for role in roles %}
              <tr>
                <td>{{ role.club.name }}</td>
                <td>
                    <a class="btn btn-primary"  href="{% url 'club_feed' role.club.id %}">View page</a>
                </td>
              </tr>
            {% endfor %}
          </table>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
