{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
  <div class = 'events_calendar'>
      {{ calendar }}
      <br>

      <h2>Monthly Events</h2>
      {%if events%}
      <ul class="list-group list-group-flush">
        {%for event in events%}
          <li class="list-group-item">{{event.deadline}} : <a href = '/club_events_list/{{event.club.id}}' event.club.id>{{event.name}}</a></li>
        {%endfor%}
      </ul>
      {%else%}
        Sorry..no events this month
      {%endif%}
    </div>
  </div>
</div>


{% endblock %}
