{% extends 'base_content.html' %}
{% block content %}
{% load posts_extra %}
  {% include 'partials/club_page_jumbotron.html' with members=members club=club userrole=userrole%}

    <h2>Club Feed</h2>
    <div class="grid-container">
        {% for instance in posts %}
            {% if instance|model_type == 'Event' %}
            <div class="post">
                    <hr>
                    <h4>Event Name: {{ instance.name }}</h4>
                    <img src="{{ instance.book.imgURLMedium }}">
                    <p><strong>Description {{ instance.description }}</strong></p>
                    <p>{{ instance.date_created }}</p>
                </a>
            </div>
            {% elif instance|model_type == 'UserPost' %}
                 <div class = 'post'>
                   <hr>
                   <p> {{instance.user.username}} {{instance.description}}
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
