{% extends 'base_content.html' %}
{% block title %}
| MemberList
{% endblock %}
{% block content %}

<div class="container" style="padding-left:100px">
  <div class="row">
    <div class="col-12">
      {% if club != null %}
      <h1>{{club.name}}</h1>
        <h5>Location: {{club.location}}</h5>
        <h5>Description: {{club.description}}</h5>
        <h5>Currently Reading: {{club.club_book}}</h5>
        {% for member in members %}
          {% if member.role == "CO" %}
            <h3>Clubowner: {{member.user.first_name}} {{member.user.last_name}}</h3>
          {% endif %}

        {% endfor %}
          {% if userrole.role == "CO" %}
            <form action="{% url 'invite' club.id %}">
                {% csrf_token %}
                <input type="submit" value="invite new member" class="btn btn-primary">
            </form>
          {% endif %}
      {% endif %}
      
      {% include 'partials/member_information.html' with members=members %}
      {% include 'partials/officer_operation.html' with members=members userrole=userrole%}
      {% include 'partials/club_owner_operation.html' with members=members userrole=userrole%}
    </div>
  </div>
</div>
{% endblock %}
