{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Club Selection</h1>
      <table class="table table-borderless table-hover">
        {% for club, owner, member_count_list in clubs_and_owners %}
        <tr>
          <div class="card">
            <div class="card-header text-center">
              <h4 class="card-title">{{ club.name }}</h4>
              <h6 class="card-text">{{ club.description }}</h6>
              <h6 class="card-text">{{ club.location }}</h6>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-text">Owner of {{club.name}}</h6>
            <img src="{{ owner.mini_gravatar }}"  alt="Gravatar of {{ owner.first_name }}" class="rounded-circle" width="100">
            <p class="card-text">
              <p class="card-text">{{ owner.full_name }}</p>
              <p class="card-text">{{ owner.bio }}</p>
              <h6 class="card-text">Number of members: {{ member_count_list }}</h6>

              <form action = "{% url 'group_check' %}" method = "post">
                {% csrf_token %}
                <input type="hidden" name="club_name" value="{{ club.name }}">
                <input type = "hidden" name = "next" value = "{{ next }}">
                {% include 'partials/bootstrap_form.html' with form=form %}
                <input type = "submit" value = "Enter {{ club.name }}" class="btn btn-primary" name = "enter_club">
              </form>
            </div>
          </tr>
      {% endfor %}
    </table>
  </div>
  </div>
</div>
{% endblock %}
