{% extends 'base_content.html' %}
{% block content %}
{% load posts_extra %}
  {% include 'partials/club_page_jumbotron.html' with members=members club=club userrole=userrole%}

<style>

.card {
     box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
   }

body{
  background-color: #f1f2f5;
}

</style>



<div class="col d-flex justify-content-center">
  <div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Club Feed</h5>

      {% for instance in posts %}
          {% if instance|model_type == 'Event' %}
          <div class="post">
            <div class="row">
              <div class="col-md-2">
                <div style="width: 8rem;">
                  <img src="{{ instance.book.imgURLMedium }}">
                </div>
                </div>
                <div class="col-md-9">
                <div>
                <p> </p>
                <div class = "row">
                <p class="card-text" style="color:red; font-size:12px;">{{instance.deadline}}</p>
                </div>
                <div class="row">
                <p class="card-text">{{instance.name}}</p>
              </div>              </a>

               <div class="row">
                <p class="card-text">{{instance.book.title}}</p>
              </div>
            </div>
            </div>
            </div>
            </div>
          {% elif instance|model_type == 'UserPost' %}
          <div class="post">
            <div class="row">
              <div class="col-md-2">
                <div style="width: 8rem;">
                  <img src="{{ instance.gravatar }}" alt="Gravatar of {{ instance.user.username }}" class="rounded-circle profile-image" >
                </div>
                </div>
                <div class="col-md-9">
                <div>
                <p> </p>
               <div class="row">
                <p class="card-text">{{instance.user.username}} {{instance.description}}</p>
              </div>
            </div>
            </div>
            </div>
            </div>
          {% endif %}
      {% endfor %}
  </div>

</div>

{% endblock content %}
