{% extends 'base_content.html' %}
{% block title %}
| Create Club
{% endblock %}
{% block content %}
<div class="container" style="padding-left:100px">
  <div class="row">
    <div class="col-12">
      <h1>Create Club</h1>
      <form action="{% url 'create_club' %}" method="post">
        {% csrf_token %}
        {% include "partials/bootstrap_form.html" with form=form %}
        <input type='submit' value="Create club" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
