{% extends 'base_content.html' %}
{% block title %}
| Feed
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-xl-8">
      <h1>Welcome back, {{user.username}}.</h1>
      <br>
      <h2>The Favourites</h2>
        <p>This is where the top reviewed books will be displayed.</p>

      <br>

      <h2>Top picks</h2>
        <p>This is where recommendations based on genre preference will be displayed.</p>
    </div>
  </div>
</div>
{% endblock %}
