{% extends 'base.html' %}
{% block body %}
<div class="bg-image"
     style="background-image: url('clubs/static/books.jpg');
            height: 100vh">
        <div class="col d-flex justify-content-center align-item-center">
          <div class="card rounded cover-cards offset-sm-2 offset-md-4 offset-lg-7 p-3 mb-2 bg-dark text-white">
            <h1>Welcome to The Book Club!</h1>
            <form action="{% url 'feed' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {% if user.is_authenticated %}
                <input type="submit" value="Enter" class="btn btn-primary">
              {% else %}
                <a class="btn btn-primary" href="{% url 'sign_up' %}">Sign up</a>
                <a class="btn btn-secondary" href="{% url 'login' %}">Log in</a>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
{% endblock %}
