{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Invitation List</h1>
        
        <table class="table table-striped table-hover">
          {% if invitations|length > 0 %}
            {% for inv in invitations %}
                <td>
                  <td>
                      <h5>{{ inv.get_club_name}} invites you to join!</h5>
                      <td>
                          <p>
                              <form action = "{% url 'accept_invitation' inv.id %}" method = "post">
                                  {% csrf_token %}
                                  <input type = "hidden" name = "next" value = "{{ next }}">
                                  {% include 'partials/bootstrap_form.html' with form=form %}
                                  <input type = "submit" value = "Accept" class="btn btn-primary">
                              </form>
                              <br>
                              <form action = "{% url 'reject_invitation' inv.id %}" method = "post">
                                  {% csrf_token %}
                                  <input type = "hidden" name = "next" value = "{{ next }}">
                                  {% include 'partials/bootstrap_form.html' with form=form %}
                                  <input type = "submit" value = "Reject" class="btn btn-danger">
                              </form>
                          </p>
                      </td>
                  </td>
                </tr>
            {% endfor %}
          {% else %}

          <div class="alert alert-info" role="alert">
            You have no pending invites!
          </div>

          {% endif %}
        </table>

    </div>
  </div>
</div>
{% endblock %}