{% extends 'base.html' %}
{% block title%}
| Log in
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-xl-8">
      <h1>Log in</h1>
      <form action ="{%url 'login' %}" method="post">
        {%csrf_token%}
        {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-danger" role="alert" >
            {{ message }}
          </div>
        </div>
        {% endfor %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type = "submit" value = "Log in" class="btn btn-primary" name="login">
        <a class="btn btn-secondary" href="{% url 'sign_up' %}">Sign up</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}