{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Member Club List</h1>
      <br>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
      {% if roles %}
        {% for role in roles %}
        <tr>
          <td> {{role.club.name}} </td>
          <td> {{role.club.location}} </td>
        </tr>
        {% endfor %}
      {% else %}
        <div class="alert alert-info" role="alert">
          Sorry you are not a member of any clubs...
          <a href = "{% url 'club_list' %}" class = "alert-link">Apply to a club </a>
          and come back!
        </div>
      {% endif %}
    </table>
    </div>
  </div
</div>
{% endblock %}
