{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Owned Club List</h1>
      <form action="{% url 'owner_club_list' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        {% if roles== "O" %}
          {% for role in roles %}
              {% include 'club_page.html' with clubs=clubs roles=roles %}
          {% endfor %}
        {% elif %}
          <h3> You do not own any clubs yet :( </h3>
          <p> Create your club and come back! </p>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
