{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Books</h1>
      <form class="container-fluid" action="{% url 'search_books' %}">
        <table class="table">
          <nav class="navbar navbar-light bg-light">
            <div class="input-group">
              <input class="form-control" list="booksOptions" placeholder="Type to search clubs" name="book_searchbar">
              <datalist id="booksOptions">
                {% for book in books %}
                  <option value="{{ book.name }}">
                {% endfor %}
              </datalist>
            </div>
          </nav>
          {% for book in books %}
            <tr>
              <td>{{ book.name }}</td>
          {% endfor %}
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}
