{% extends 'base_content.html' %}
{% block title %}
| Find users
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Users</h1>
      <form class="container-fluid" action="{% url 'search_users' %}">
        <table class="table">
          <nav class="navbar navbar-light bg-light">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">@</span>
              <input class="form-control" list="usersOptions" placeholder="Type to search users" name="user_searchbar">
              <datalist id="usersOptions">
                {% for user in users %}
                  <option value="{{ user.username }}">
                {% endfor %}
              </datalist>
            </div>
          </nav>
          {% for user in users %}
            <tr>
              <td>
                <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
              </td>
              <td>{{ user.full_name }}</td>
              <td><a href="{% url 'show_user' user.id %}">{{ user.username }}</a></td>
            </tr>
          {% endfor %}
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}
