{% extends 'base_content.html' %}
{% block title %}
| Show book
{% endblock %}
{% block content %}
<div class="container">
  <div class="row content">
    <div class="col-xs-12 col-lg-6 col-xl-4">
        {% include 'partials/book_details.html' with form=form average_rating=average_rating%}
        <hr>
        <p>Share your own rating:</p>
      <form method = "post" action = "" role = "form">
        {% csrf_token %}
        {{ form }}
        <input type='submit' value="Save" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
