{% extends 'base_content.html' %}
{% block title %}
| Wishlist
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Wishlist</h1>
            <br>
            {% if user.wishlist.all.count > 0 %}
            <table class="table table-striped table-hover">
                <thead>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Year of publishing</th>
                </thead>
            {% endif %}
                {% for book in user.wishlist.all %}
                <tr>
                    <td>
                        <img src="{{ book.imgURLSmall }}" alt="Cover of {{ book.title }}">
                    </td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.published }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'show_book' book.id %}">See book</a>
                    </td>
                    {% if user == current_user %}
                    <td>
                        <a class="btn btn-danger" href="{% url 'unwish' book.id %}">Remove from wishlist</a>
                    </td>
                    {% endif %}
                </tr>

                {% empty %}

                {% if user == current_user %}
                <h3>Your wishlist is empty. Maybe fill it with some books? :)</h3>

                {% else %}
                <h3><b>{{user.username}}'s</b> wishlist is empty.</h3>
                {% endif %}

                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}