/*
 * Alerts
 */
.alert {
  border-radius: 0px;
}


#cover-images {
  background: url('books.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.cover-cards {
  background-color: rgba(245, 245, 245, 0.6);
  /*max-width: 30rem;
  /padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;*/
  border-radius: 15%;
  margin: 0 auto;
  float: none; /* Added */
  margin-bottom: 20px; /* Added */
}
.cover-card-block {
  opacity: 1
}

#bottom {
          position:absolute;
          bottom:0;
          left:0;
}
