<div class="row content">
  <div class="col-12">
    <img src="{{ book.imgURLMedium }}" alt="Image of {{ book.title }}">
    <div class="book-text">
      <h3 class="book-title">{{ book.title }}</h3>
      <p class="book-username">{{ book.author }}</p>
      <p>Average rating: <b>{{ average_rating }}</b></p>
    </div>
    {% if book in current_user.wishlist.all %}
    <a class="btn btn-danger" href="{% url 'unwish' book.id %}">Remove from wishlist</a>
    {% else %}
    <a class="btn btn-success" href="{% url 'wish' book.id %}">Add to wishlist</a>
    {% endif %}
  </div>
</div>
