

{% if userrole.role == "CO" and member.role == "M" %}
<form action="{% url 'promotion' club.id member.user.id %}" method="post">
    {% csrf_token %}
<li><button type="submit" class="dropdown-item" type="button">Promote To Officer</button></li>
</form>
{% endif %}

{%if userrole.role == "CO" and member.role == "M"%}
<form action="{% url 'removemember' club.id member.user.id %}" method="post">
    {% csrf_token %}
<li><button type="submit" class="dropdown-item" type="button">Remove from the club</button></li>
</form>

{%endif%}

{% if userrole.role == "CO" and member.role == "A" %}

  <form action="{% url 'rejectasowner' club.id member.user.id %}" method="post">
      {% csrf_token %}
<li><button type="submit" class="dropdown-item" type="button">Reject the applicant</button></li>
  </form>

{% endif %}

{%if userrole.role == "CO" and member.role == "A"%}

  <form action="{% url 'accept_applicant_as_owner' club.id member.user.id %}" method="post">
      {% csrf_token %}
<li><button type="submit" class="dropdown-item" type="button">Accept</button></li>
  </form>
{%endif%}

{% if userrole.role == "CO" and member.role == "O" %}
  <form action="{% url 'demotion' club.id member.user.id %}" method="post">
      {% csrf_token %}
<li><button type="submit" class="dropdown-item" type="button">Demote To Member</button></li>
  </form>
{% endif %}


{% if userrole.role == "CO" and member.role == "O" %}
<button type="button" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Promote to the Club owner</button>
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to promote this officer to the clubowner?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form action="{% url 'promotionOfficer' club.id member.user.id %}" method="post">
            {% csrf_token %}
        <input type="submit" value="Yes" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}
