<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'feed' %}">Feed</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Search
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'search_clubs' %}">Clubs</a></li>
        <li><a class="dropdown-item" href="{% url 'search_users' %}">Users</a></li>
      </ul>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi-person-circle"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
        <li><a class = "dropdown-item" href="{% url 'wishlist' user.id %}">Wishlist</a></li>
      </ul>
    </li>
  </ul>
</div>
