{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{% static 'side-bar.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9a416a1cca.js" crossorigin="anonymous"></script>
</head>
<body>
  <input type="checkbox" checked name="" id="side-menu-switch">
<div class="side-menu">
    <form action="">
        {{form.search}}
        <button>
                <i class="fas fa-search"></i>
        </button>
    </form>
    <nav>
      {% for filters in form.filter_field %}
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" unchecked>
        {{ filters }}
      {% endfor %}
    </nav>
    <label for="side-menu-switch">
        <i class="fas fa-angle-left"></i>
    </label>


</div>
</body>
</html>
