{% extends 'base_content.html' %}
{% block title %}
| Profile
{% endblock %}
{% block content %}
<div class="container">
  <div class="row content">
    <div class="col-xs-12 col-lg-6 col-xl-4">
      {% include 'partials/user_profile.html' with form=form%}
    </div>
  </div>
  <form action= "{% url 'edit_profile'%}" method = "get">
  <button class="btn btn-primary" href="{% url 'edit_profile'  %}">Edit profile</button>
</form>
<hr>
<a class="btn btn-secondary" href="{% url 'select_genres' %}">Update genre preferences</a>
</div>
{% endblock %}
