{% extends 'base_content.html' %}
{% block title %}
| MemberList
{% endblock %}
{% block content %}

{% include 'partials/club_page_jumbotron.html' with members=members club=club %}
<style>

.card {

box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);

}

body{
  background-color: #f1f2f5;
}

.event_list_button{
background-color: #e4e6eb;
transition-duration: 0.4s;
font-size: 16px;
padding: 3px 6px;
margin: 4px 2px;
border-radius: 4px;
border:none;
}

.event_list_button:hover{
   background-color: #d8dadf;
}

.dropdown_actions
{
background-color: #e4e6eb;
transition-duration: 0.4s;
font-size: 16px;
padding: 3px 6px;
margin: 4px 2px;
border-radius: 4px;
border:none;
min-width: 50px;
min-height: 20px;

}

.dropdown_actions:hover{
   background-color: #d8dadf;
}


</style>

<div class="col d-flex justify-content-center">


<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Users</h5>
      {% for member in members%}
    <div class="row">
      <div class="col-md-2">
        <div style="width: 8rem;">
         <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.first_name }}" class="rounded-circle" >
      </div>
    </div>
       <div class="col-md-6">
      <div>
      <p> </p>
         <h5 class="card-title">{{ member.user.username}}</h5>
         <p class="card-text"> {{member.get_role_display}}</p>
         <div class="row">
         <p class="card-text"></p>
       </div>


        </div>
         </div>
         <div class="col-md-2">
           {%if member.role != "CO"%}
           <div class="btn-group" role="group" aria-label="Basic example">

           <form action = "{% url 'show_user' user.id %}" method = "get">
             {% csrf_token %}
             <input type = "hidden" name = "next" value = "{{ next }}">
             {% include 'partials/bootstrap_form.html' with form=form %}
             <input type = "submit" value = "See profile" class="event_list_button">
           </form>

           <div class="dropdown">

             <button class="dropdown_actions" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
               ...
             </button>

             <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

            {%if member.role != "CO"%}
               {%if userrole.role == "CO"%}

                      {% include 'partials/club_owner_operation.html' with members=members userrole=userrole%}

               {%if userrole.role == 'O'%}

                   {% include 'partials/officer_operation.html' with members=members userrole=userrole%}

               {%endif%}

              {%endif%}
               {%endif%}
             </ul>
           </div>
         </div>
           {%endif%}
         </div>
       </div>
       <hr class="my-4">
       {%endfor%}
     </div>
  </div>
</div>
<p> </p>
{%endblock%}
