{% extends 'base_content.html' %}
{% block content %}
{% load posts_extra %}
{% load humanize %}
{% include 'partials/club_page_jumbotron.html' with members=members club=club userrole=userrole%}

<style>
.card {
     box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
   }
</style>

<div class="container">
  <div class="card my-2">
    <div class="card-body">

      <form action="{% url 'new_post' club.id%}" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input type="submit" value="Post" class="btn btn-primary">
      </form>
    </div>
  </div>

  <div class="card my-2">
    <div class="card-body">
      <h2 class="card-title">Club Feed</h2>
      <br>

  {% for instance in posts %}

    {% if instance|model_type == 'EventPost' %}
      {% include 'partials/event_post.html' %}

    {% elif instance|model_type == 'MembershipPost' %}
      {% include 'partials/membership_post.html' %}

      {% elif instance|model_type == 'UserPost' %}
        {% include 'partials/user_post.html' %}

    {% endif %}

  {% endfor %}

    </div>
  </div>
</div>

{% endblock content %}
