{% extends 'base_content.html' %}
{% block title %}
| MemberList
{% endblock %}
{% block content %}

{% include 'partials/club_page_jumbotron.html' with members=members club=club %}
<style>
card {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
</style>

<div class="container" style="padding-left:100px">
  <div class="row">
    <div class="col-12">
      <div class="card" style="max-width: 90rem;">
        <div class="card">
          <div class="card-body">

      <table class="table table-striped table-hover">
        {% for member in members %}
          <tr>
            <td>
              <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.first_name }}" class="rounded-circle" >
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.full_name }}</td>
              <td>
                <form action = "{% url 'show_user' user.id %}" method = "get">
                  {% csrf_token %}
                  <input type = "hidden" name = "next" value = "{{ next }}">
                  {% include 'partials/bootstrap_form.html' with form=form %}
                  <input type = "submit" value = "See profile" class="btn btn-primary">
                </form> 
              </td>
              <td>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {%if userrole.role == 'O'%}

                {% include 'partials/officer_operation.html' with members=members userrole=userrole%}

          {%endif%}
          {%if userrole.role == "CO"%}

                 {% include 'partials/club_owner_operation.html' with members=members userrole=userrole%}

          {%endif%}
        </td>
          </tr>
        </div>
        {% endfor %}
      </table>
    </div>
 </div>
</div>
    </div>
  </div>
</div>
{% endblock %}
