{%extends 'base_content.html'%}
{% block content %}

{% include 'partials/club_page_jumbotron.html' with members=members club=club userrole=userrole%}
<style>

.card {
     box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
   }
.event_list_button{
background-color: #e4e6eb;
transition-duration: 0.4s;
font-size: 16px;
padding: 3px 6px;
margin: 4px 2px;
border-radius: 4px;
border:none;
}

.event_list_button:hover{
   background-color: #d8dadf;
}

body{
  background-color: #f1f2f5;
}

</style>



<div class="col d-flex justify-content-center">



  {% include 'partials/events_listing.html' with members=events club=club%}


</div>


{%endblock%}
